@import './_variables.scss'

@import '../../node_modules/bootstrap/scss/bootstrap.scss'


//HEADER START//
$maincolor: #b12a3b
header
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url("../images/banner1.jpg")
    width: 100%
    background-size: 100%
    background-repeat: no-repeat
h1,
h2,
h3,
h4,
h5
    font-family: 'Courgette', cursive

.active
    background-color: $maincolor

.bannertitle
    margin: 150px 300px 0 300px
    text-align: center

.taste,
.our
    color: $maincolor

.occasion,
.taste,
.makes,
.remember,
.our
    font-size: 1.5em

.pages
    margin-top: 200px
//HEADER END//

//SECTION1 START//
.section
    background-image: url("../images/main_bg.jpg")
    background-repeat: repeat
    width: 100%
    overflow: hidden

.par1
    margin: 0 15em

.section .container span
    text-size: 5em
    color: $maincolor

.topleft
    background-repeat: no-repeat
    position: absolute
    left: 0
    top: 0

.section .container
    position: relative
    overflow: hidden

.topright
    background-repeat: no-repeat
    position: absolute
    right: 0
    top: 0

section .container ul li
    font-size: 50px

.bottomleft
    background-repeat: no-repeat
    position: absolute
    left: 0
    bottom: 0
    

.bottomright
    background-repeat: no-repeat
    position: absolute
    right: 0
    bottom: 0

.decorationline
    position: absolute
    bottom: 50%
    
//SECTION1 END//

// SECTION2  START

.section2
    background-image: url("../../Public/images/team_background.jpg")
    width: 100%
    background-size: 100%
    background-repeat: no-repeat
.meet
    color: $maincolor

// SECTION2 END

// SECTION3 START

.section3
    background-image: url('../../Public/images/main_bg.jpg')
    background-repeat: repeat
    width: 100%
    position: relative

// .topleft ; .topright ; .bottomleft and .bottomright are already bound in the first section as they keep the same values in the other sections


.section3 .container
    position: relative
    padding: 50px

.section3 .table
    background-image: url('../../Public/images/book_table_bg.jpg')
    display: block
    margin-left: auto
    margin-right: auto
    width: 70%

.blog
    margin-bottom: -10px
    background-color: $maincolor
    font-size: 2em
    color: #fff
    border-radius: 50px
    text-align: center
// SECTION3 END

// SECTION4 START

.section4
    background-image: url('../../Public/images/testimonials_background.jpg')
    width: 100%
    background-repeat: no-repeat

.section4 .row .col-4 img
    width: 35%
    border: 5px solid #fff
    margin: 10px

.img-left
    float: left

.img-right
    float: right

.testimonials
    border: 1px solid #fff
    border-radius: 20px
    padding: 10px
    margin-left: 10px

.manager
    color: $maincolor
// SECTION4 END

// SECTION5 START

.section5
    background-image: url('../../Public/images/main_bg.jpg')
    background-repeat: repeat
    width: 100%
    overflow: hidden

.contact
    background-color: $maincolor
    display: block
    border-radius: 20px
    margin-left: auto
    margin-right: auto
    width: 25%
    margin-bottom: 50px
    margin-top: 50px
        
.section5 .contact hr
    border-top: 1px solid #ccc
    padding: 0

// SECTION5 END